.welcome{
    background-color: var(--primarySoft);
    text-align: center;
    padding: 70px  0px;
}

.welcome div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.welcome button{
    width: fit-content;
}

.croodsImage img{
    width: 52% !important;
    object-fit: contain;
    margin: auto !important;
}

@media screen and (max-width: 835px) {
    .croodsImage img{
        width: 100%;
    }
}

.cardsSection{
    margin-top: 30px;
}

.cardsContainer{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}