.wrapMethodology h3, .wrapMethodology p{
    margin-bottom: 5px;
}

.wrapMethodology ul{
    list-style: none;
    padding-left: 30px;
}

.wrapMethodology ol{
    padding-left: 30px;
}

.wrapMethodology li{
    margin-bottom: 10px;
    position: relative; 
}

.wrapMethodology ul li::before{
    content: "\2022";
    color: var(--primaryNormal);
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
    font-size: 2rem;
    position: absolute;
    left: 0.7rem;
    top: -0.7rem;
}

.wrapMethodology ol li::marker{
    color: var(--primaryNormal);
    font-weight: var(--boldFont);
}

/* .image_Concept{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
    align-items: center;
    height: auto;
} */

.image_Concept{
    margin-top: 30px;
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: row;
}

.imageContainer {
    border-radius: 14px;
    box-shadow: var(--shadowCard);
    flex: 1 1 0px;
}

.concept {
    flex: 1 1 0px;
}

.imageStyle {
    height: 100%;
    width: 100%;
}

.wrapMargin{
    margin: 30px 0;
}

@media screen and (max-width: 1024px) {
    .image_Concept{
        flex-direction: column;
    }
}

.references{
    margin-top: 30px;
}

.references a,.references a:link, .references a:visited {
    color: var(--textNormal);
}

.references a:hover{
    color: var(--primaryStrong);
}