.wrapMethodology h3, .wrapMethodology p{
    margin-bottom: 5px;
}

.wrapMethodology li{
    margin-bottom: 10px
}

.wrapMethodology ul{
    list-style: none;
    padding-left: 30px;
}

.wrapMethodology li{
    position: relative; 
}

.wrapMethodology li::before{
    content: "\2022";
    color: var(--primaryNormal);
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
    font-size: 2rem;
    position: absolute;
    left: 0.7rem;
    top: -0.7rem;
}

.image_Concept{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
    align-items: center;
}

.imageStyle {
    border-radius: 14px;
    box-shadow: var(--shadowCard);
}

.wrapMargin{
    margin: 30px 0;
}

@media screen and (max-width: 1024px) {
    .image_Concept{
        grid-template-columns: 1fr;
        gap: 30px;
    }
}

.references{
    margin-top: 30px;
}

.references a,.references a:link, .references a:visited {
    color: var(--textNormal);
}

.references a:hover{
    color: var(--primaryStrong);
    /* text-decoration: overline !important; */
}